[user]
	name = Bobislav
	email = bobo.svilenov@gmail.com
[init]
	default = branch
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
